[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "==3.10.4"
fastapi = "==0.109.1"
pydantic = "==2.5.2"
python-dotenv = "==1.0.1"
notion-client = "==2.1.0"
openai = "==1.3.5"
tiktoken = "==0.5.1"
ratelimit = "==2.2.1"
slack-bolt = "==1.18.1"
tqdm = "==4.66.1"
numpy = "==1.26.2"
uvicorn = "==0.24.0.post1"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
main = 'python -m src'
# run pipenv requirements > requirements.txt to regenerate requirmenets.txt