[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==2.5.2"
notion-client = "==2.1.0"
openai = "==1.3.5"
tiktoken = "==0.5.1"
ratemate = "*"
slack-bolt = "*"
flask = "*"
requests = "*"
tqdm = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
notion = 'python -m hadriangpt.notion'
bot = 'python -m hadriangpt.bot'
retrieve = 'python -m hadriangpt.retriever'
build-docker = "docker build -t hadrian-gpt-slackbot ."
run-slack-bot = "flask run --port 8000"