[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "*"
flask = "*"
requests = "*"
python-dotenv = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
build-docker = "docker build -t hadrian-gpt-slackbot ."
run-slack-bot = "flask run --port 8000"
